<ng-template #empty>
    <mat-toolbar>
      <mat-icon aria-hidden="true" class="countryIcon">autorenew</mat-icon> Loading...
    </mat-toolbar>
  </ng-template>
<div *ngIf="country; else empty">
      <mat-card>
        <mat-card-header class="mapContainer">
           <div mat-card-avatar class="mapView">
             <agm-map
             [latitude]="country.latitude"
             [longitude]="country.longitude"
             (mapClick)="pickLocation($event)"
             class="mapSize">
              <agm-marker
              [latitude]="country.latitude"
              [longitude]="country.longitude">
              </agm-marker>
            </agm-map>
          </div>
          <mat-card-title class="countryLabel">
            <img
            src="https://www.countryflags.io/{{ country.iso2Code }}/flat/48.png"
            class="countryIcon">
            {{country.name}}  <span class="population" *ngIf="countryMore">(population: {{ countryMore[0].value }})</span>
          </mat-card-title>
          <mat-card-subtitle>
            <strong>Capital: </strong> {{country.capitalCity}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong>Region: </strong> {{country.region.value}}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="countryMore">
            <strong>{{ countryMore[1].indicator.value }}: </strong> {{ countryMore[1].value !=null ? countryMore[1].value : 'Not aviable this year ' }}$
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong>Income Level: </strong> {{ country.incomeLevel.value }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong>Lending Type: </strong> {{ country.lendingType.value }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong>Country ISO Code: </strong> {{ country.iso2Code }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="actions">
          <a mat-flat-button color="primary" [routerLink]="['/regions', country.region.id]">More countries from {{ country.region.value }}</a>
          <a mat-flat-button color="warn" (click)="goBackClick()">Go back!</a>
        </mat-card-actions>
      </mat-card>
    </div>
<!--
<div *ngIf="country">{{ country.name  }}</div>
<div *ngIf="countryMore">{{ countryMore[0].value }} - {{ countryMore[1].value !=null ? countryMore[1].value : '' }}</div>
 -->
