<mat-card >
  <mat-card-header class="mapContainer">
    <div mat-card-avatar class="mapView"><agm-map [latitude]="country.latitude" [longitude]="country.longitude" (mapClick)="pickLocation($event)" class="mapSize"><agm-marker [latitude]="country.latitude" [longitude]="country.longitude"></agm-marker></agm-map></div>
    <mat-card-title class="countryLabel"><mat-icon aria-hidden="true" class="countryIcon">public</mat-icon> {{country.name}}</mat-card-title>
    <mat-card-subtitle><strong>Capital: </strong> {{country.capitalCity}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Region: </strong> {{country.region.value}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Population: </strong> nope</mat-card-subtitle>
    <mat-card-subtitle><strong>Income Level: </strong> {{ country.incomeLevel.value }}</mat-card-subtitle>
    <mat-card-subtitle><strong>Lending Type: </strong> {{ country.lendingType.value }}</mat-card-subtitle>
    <mat-card-subtitle><strong>Country ISO Code: </strong> {{ country.iso2Code }}</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
  <mat-toolbar class="divisor">Click here to see all countries from {{ country.region.value }}</mat-toolbar>
   <!-- <mat-toolbar *ngIf="populationGDPData$ | async as popdata; else loading" [popdata]="popdata">
      {{ popdata.country.value }} belongs to {{ popdata.value }}
    </mat-toolbar>
    <ng-template #loading>charging population</ng-template>-->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
