agm-map {
  height: 200px;
}
.mapView {
  flex: 1 1 auto;
  min-width: 200px;
  max-width: 700px;
  height: 200px;
}
.countryLabel {
  flex: 1 1 auto;
  width: 100%;
  line-height: 30px;
  margin-top: 15px;
}
.countryIcon {
  vertical-align: middle;
  padding-right: 8px;
}
.mapContainer {
  flex-flow: row no-wrap;
  width: 100%;
  margin-bottom: 10px;
}
.actions button, .actions a {
  margin-right: 8px;
}
.population {
  font-size: 13px;
  font-style: italic;
}
@media (max-width: 600px) {
  .mapContainer {
    flex-flow: column wrap;
  }
  .divisor { display: none; }
  .mapView {
    flex: 1 1 auto;
    min-width: 100%;
    height: 200px;
  }
  .countryLabel {
    flex: 1 1 auto;
    min-width: 100%;
  }
}
