<mat-card>
  <mat-card-header class="mapContainer">
     <div mat-card-avatar class="mapView"><agm-map [latitude]="country.data.latitude" [longitude]="country.data.longitude" (mapClick)="pickLocation($event)" class="mapSize"><agm-marker [latitude]="country.data.latitude" [longitude]="country.data.longitude"></agm-marker></agm-map></div>
    <mat-card-title class="countryLabel"><!--<mat-icon aria-hidden="true" class="countryIcon">public</mat-icon>--><img src="https://www.countryflags.io/{{ country.data.iso2Code }}/flat/48.png" class="countryIcon"> {{country.data.name}}  <span class="population">(population: {{ country.more[0].value }})</span></mat-card-title>
    <mat-card-subtitle><strong>Capital: </strong> {{country.data.capitalCity}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Region: </strong> {{country.data.region.value}}</mat-card-subtitle>
    <mat-card-subtitle><strong>{{ country.more[1].indicator.value }}: </strong> {{ kk }}$</mat-card-subtitle>
    <mat-card-subtitle><strong>Income Level: </strong> {{ country.data.incomeLevel.value }}</mat-card-subtitle>
    <mat-card-subtitle><strong>Lending Type: </strong> {{ country.data.lendingType.value }}</mat-card-subtitle>
    <mat-card-subtitle><strong>Country ISO Code: </strong> {{ country.data.iso2Code }}</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
  <!-- <mat-toolbar class="divisor"> -Click here to see all countries from {{ country.data.region.value }}</mat-toolbar>
  <mat-toolbar *ngIf="populationGDPData$ | async as popdata; else loading" [popdata]="popdata">
      {{ popdata.country.value }} belongs to {{ popdata.value }}
    </mat-toolbar>
    <ng-template #loading>charging population</ng-template>-->
  </mat-card-content>
  <mat-card-actions class="actions">
    <a mat-flat-button color="primary" [routerLink]="['/regions', country.data.region.id]">More countries from {{ country.data.region.value }}</a>
    <a mat-flat-button color="warn" (click)="goBackClick()">Go back!</a>
  </mat-card-actions>
</mat-card>
